@page
@model ExamplesModel
@{
    ViewData["Title"] = "Examples";
}
<style>
    span { font-family: sans-serif }
</style>
<div class="text-center">
    <h1 class="display-4">Examples</h1>

    <div class="three-wide">
        <div class="setter banner">
            STENOS BY JOACHIM HAMBROS
        </div>
        <div class="lingo banner">
            CLASSIC
        </div>
        <div class="stenoText">
            ~~x7RRbxgxh88x~+h
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            4~xx~xRf#
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            gf~f7f+K+K+3f211
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr  />
            4f~44+c6+f+7h5+x+8+d
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            <!--
            4f~44+c6+f+7h5+x+8+d (en passant for both players; Jo hasn't asked for publication yet)
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            3c5423123#
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            -->
            ff55xaK~~Kdg#
            <hr />
            ~~xxP+1+~
            <hr />
            ~~x~#
            <hr />
            eddKdedQdLRR
            <hr />
            ff5fKKfff8f+++x
            <hr />
            ~~+Qx8+Qx8+Qx8+
            <hr />
            b~x5xKxKxK+R
            <hr />
            36~#
            <hr />
            hgggggcgcggggggggbgg <!-- files only! -->
            <hr />
            PPPKQL <!-- pieces only! can even be ~~PK~L -->
            <hr />
            P~~RBNQK# <!-- one of each piece-type -->
            <hr />
            gagagggggegdggggggghggg
            <hr />
        </div>
    </div>

    <div class="three-wide">
        <div class="setter banner">
            STENOS BY MANUS HAND
        </div>

        <div class="lingo banner">
            CLASSIC
        </div>
        <div class="stenoText">
            g~ 58 36 +7 68 #
            <hr />
            gb 54 2c NQ x+ x7 +N b4 xc x5 xb od #
            <hr />
            hh gg ~g 18 #
            <hr />
            Need a hooK xx xx xx +x +x
            <hr />
            ~ga5b4Rgc18b+~7+~~Qd#
            <hr />
            cg5463721K
            <hr />
            3e6~2~#
            <hr />
            h~ xf xx x~ xx xd #
        </div>
        <div class="lingo banner">
            EXTENDED
        </div>
        <div class="stenoText">
            36351311230 178884461
            <hr />
            |6"""""~#
            <hr />
            b~"""""""~#
            <hr />
            caR ax eveR x+x
            <hr />
            3h 6~ f2 0a ~7 7~ ~2 Ka 2#
        </div>
        <div class="lingo banner">
            PGN
        </div>
        <div class="stenoText">
            bg546372RK
            <hr />
            ea5Rxhha7f+fb38h8K/
            <!-- can be made classic by changing a to h and / to = -->
            <hr />
            .. ee ff -- KK<br>QQ RR xx<br>&nbsp;+ QQ #&nbsp;
            <hr/>
            ag 55 x4 73 c1 81<br>
            +. 7+ .d Qd R8 d4<br>
            ae 1+ d+ 5b N+ xa<br>
            d+ 4+ 34 B+ 35 +f<br>
            a+ 2+ cb +. +f +8<br>
            1+ d6 +f 12 hx 5#
            <hr />
            ..<br>
            xx .x<br>
            xx xx xx<br>
            xx xx xB cx<br>
            xx xx xx xx xx<br>
            /<br>
            <span><em>(human thought necessary!)</em></span>
            <!--
            (The B and c must also be "x&" in order to force a draw by insufficient material.
            I did check to make sure that if they are NOT x's, a stalemate cannot arise.)
            -->
        </div>
    </div>

    <div class="three-wide">
        <div class="setter banner">
            STENOS BY &#64;EMPHYRIO
        </div>
        <div class="lingo banner">
            CLASSIC
        </div>
        <div class="stenoText">
            ~~bP72
            <br /><span><em>(two distinct solutions!)</em></span>
            <hr />
            hfhfhQhQ~Q#
            <hr />
            h~h~hxxxx3x#
            <hr />
            ~~xx~#
            <hr />
            456571 <!-- ranks only! -->
            <hr />
        </div>
        <div class="lingo banner">
            EXTENDED
        </div>
        <div class="stenoText">
            d6\\\/\/\/#
            <hr />
            hh&ndash;&ndash;22~x~#
            <hr />
        </div>
    </div>

    <div style="clear: both"></div>
</div>
